<!--
	Student Name:		Anthony Cox
	Student ID:			C00162988
	Date:				24th March 2015
	Purpose:			Display the "About This Project" screen to the user
-->

{% extends "masterHeadingMenuFooterPage.html" %}

{% block main_body_content %}
	<DIV ALIGN = "CENTER">
		<H2>About This Project</H2>
		<P>
		Music School Manager Application<BR><BR>
		Developed by Anthony Cox - C00162988<BR>
		IT Carlow 4th Year Project BSc(Hons) in Software Development<BR><BR>
		Project Supervised by Paul Barry
		</P>
		<BR>
		<P>
		<U><I>Developing the Music School Manager Project</I></U><BR>
		This project began in October 2014 and finished in April 2015. The project was split into three separate iterations:<BR>
		from October to Christmas, from Christmas to the end of February and from the end of February to the middle of April.<BR><BR>
		The first iteration was mainly about researching the various technologies available to make this application (of which<BR>
		there were many) and also designing some simple "proof of concept" applications to prove that coding a timetable editor<BR>
		was, indeed, possible. This process began initially with a very basic command-line based application. This basic application<BR>
		laid down some simple foundations on which I could build the final product.<BR><BR>
		The second iteration focused more on building a UI-based version of the timetable editor. The application from the first<BR>
		iteration was converted into a webapp using technologies that I now expected to use for the final grade release. These<BR>
		UI applications were more "proof of concept" applications, just like before, but by building them I was now proving that<BR>
		a UI version was definitely possible. I was also building up an ever expanding code base from which the final release<BR>
		would be built upon. This iteration was also about designing a dynamic UI which would promote ease of use and would also deliver<BR>
		instant feedback to the user. The idea of adding new lessons, students and teachers was also added in this iteration.<BR><BR>
		The third and final iteration marked the development of the final piece of the software. By now, I had built up a massive code base<BR>
		which had been extensively manually tested and was providing all of the functions required for managing students, teachers, the<BR>
		schools opening hours, managing locations and storing and retrieving timetables from the database. Now it was time to put it all<BR>
		together into a final grade application. The final look and feel of the UI also had to be decided in this iteration, eventually<BR>
		growing into what you see here now. The template for this UI was provided free by OS Templates. A link to their excellent site<BR>
		is provided in the footer section of each page in this application.
		</P>
		<BR>
		<P>
		<I><U>Technologies Used</U></I><BR>
		This project was developed using a combination of all of the following technologies:<BR>
		HTML5, JavaScript, CSS, JQuery, JQuery UI, AJAX, Python 3 with Flask and MySQL.<BR><BR>
		Each technology was researched before final selections were made. Examples of other technologies that were considered<BR>
		initially, but ultimately not used, are Ruby and PHP.
		</P>
		<BR>
	</DIV>
{% endblock %}