<!--
	person Name:		Anthony Cox
	person ID:			C00162988
	Date:				7th March 2015
	Purpose:			This page contains the commonly used methods and JQuery for the Person Management screens.
-->

{% extends "masterHeadingMenuFooterPage.html" %}

{% block common_jquery %}
<SCRIPT>
$(document).ready(function(){ 
	// Display the person editing options to the user
	$("#editPerson").click( function() {
		$("#mainEditorWindow").css("height", "95%");
		$("#removeThisPerson").finish().hide();
		$("#noEditingSelected").finish().hide();
		$("#editThisPerson").finish().show();
	});
	
	// Display the remove person option to the user
	$("#removePerson").click( function() {
		$("#mainEditorWindow").css("height", "65%");
		$("#editThisPerson").finish().hide();
		$("#noEditingSelected").finish().hide();
		$("#removeThisPerson").finish().show();
	});
	
	// Hide any of the context menus if the user clicks away from it
	$(document).bind("mousedown", function (event) {
		if (!$(event.target).parents("#mainEditorWindow").length > 0) {
			resetEditorWindowToDefault();
		}
	});
	
	// Set the list of person names for the autocomplete feature of the search box
	$("#searchEntry").autocomplete({
				source: availablePersons,
				select: function(event, ui) {
					event.preventDefault();
					$(this).val(ui.item.label);
				}
	}).autocomplete("widget").addClass("searchList");
});

// Initialise newly created DOM elements that populate the person editor window and show the editing options to the user
function initialiseEditableData() {
	$(".editableData").click( function() {
		var element = $(this).next("input[type=hidden]");
		var elementValue = $(element).attr("VALUE");
		var individualAttr = elementValue.split(",");
		document.getElementById("personId").value = individualAttr[0];
		document.getElementById("addressId").value = individualAttr[1];
		document.getElementById("thisPersonId").value = individualAttr[2];		
		document.getElementById("firstName").value = individualAttr[3];
		document.getElementById("surname").value = individualAttr[4];
		document.getElementById("dateOfBirth").value = individualAttr[5];
		document.getElementById("phoneNumber").value = individualAttr[6];
		document.getElementById("emailAddress").value = individualAttr[7];
		document.getElementById("streetName1").value = individualAttr[8];
		document.getElementById("streetName2").value = individualAttr[9];
		document.getElementById("townOrCity").value = individualAttr[10];
		document.getElementById("county").value = individualAttr[11];
		
		document.getElementById("selectedPerson").innerHTML = "" + individualAttr[3] + " " + individualAttr[4];
		
		$("#mainEditorWindow").css("height", "60%");
		$("#mainEditorWindow").finish().show();
		$("#noEditingSelected").finish().show();
	});
}

// Output the result of the search to the user
function processSearchResult(searchResultString) {
	// Replace all of the obsolete characters in the string
	searchResultString = replaceAll(searchResultString, "[", "");
	searchResultString = replaceAll(searchResultString, "]", "");
	searchResultString = replaceAll(searchResultString, "\"", "");
	
	// Split the result into an array of individual attributes and output them below the search bar
	var splitResult = searchResultString.split(",");
	var index = 0;
	var namesDisplay = "<BR><BR><TABLE CLASS = 'recordsDisplay'>";
	namesDisplay += "<TR><TD CLASS = 'recordsHeading'>";
	namesDisplay += "<DIV ALIGN = 'CENTER'><P CLASS = 'tableHeading'>Click a Name to View/Edit/Remove</P></DIV>";
	namesDisplay += "</TD></TR>";
	if(splitResult.length == 1 && splitResult[0] == "pageLoader") {
		namesDisplay += "<TR>";
		namesDisplay += "<TD CLASS = 'recordsHeading'>";
		namesDisplay += "<P>Please search for an existing name.<BR>Matching names will then appear here.</P>";
		namesDisplay += "</TD>";
		namesDisplay += "</TR>";
	} else if(splitResult.length == 1) {
		namesDisplay += "<TR>";
		namesDisplay += "<TD CLASS = 'recordsHeading'>";
		namesDisplay += "<DIV ALIGN = 'CENTER'>";
		namesDisplay += "<P>No names match your search criteria.<BR>Please try another name.</P>";
		namesDisplay += "</DIV>";
		namesDisplay += "</TD>";
		namesDisplay += "</TR>";
	} else {
		while(index < splitResult.length) {
			namesDisplay += "<TR>";
			namesDisplay += "<TD CLASS = 'recordsHeading'>";
			namesDisplay += "<DIV ALIGN = 'CENTER'>";
			namesDisplay += "<P CLASS = 'editableData'>" + splitResult[index + 2].trim() + ": " + splitResult[index + 3].trim() + " ";
			namesDisplay += splitResult[index + 4].trim() + "</P>";
			namesDisplay += "<INPUT TYPE = 'HIDDEN' ID = 'person" + index + "' NAME = 'person" + index + "' ";
			namesDisplay += "VALUE = '" + splitResult[index].trim() + "," + splitResult[index + 1].trim() + "," + splitResult[index + 2].trim() + ","; 
			namesDisplay += splitResult[index + 3].trim() + "," + splitResult[index + 4].trim() + "," + splitResult[index + 5].trim() + ","; 
			namesDisplay += splitResult[index + 6].trim() + "," + splitResult[index + 7].trim() + "," + splitResult[index + 8].trim() + ",";
			namesDisplay += splitResult[index + 9].trim() + "," + splitResult[index + 10].trim() + "," + splitResult[index + 11].trim() + "'></INPUT>";
			namesDisplay += "</DIV>";
			namesDisplay += "</TD>";
			namesDisplay += "</TR>";
			index += 12;
		}
	}
	namesDisplay += "</TABLE><BR>";
	document.getElementById("searchResults").innerHTML = namesDisplay;
	initialiseEditableData();
}
</SCRIPT>
{% endblock %}

{% block common_javascript %}
<SCRIPT>
// Global Variables
var availablePersons = [];

// Replace all of the characters specified with their specified replacements in the provided string
function replaceAll(theString, theCharacter, theReplacement) {
	while(theString.indexOf(theCharacter) >= 0) {
		theString = theString.replace(theCharacter, theReplacement);
	}
	return theString;
}

// Set all values relating to this person to default (empty) values
function resetEditorWindowToDefault() {
	document.getElementById("personId").value = "";
	document.getElementById("addressId").value = "";
	document.getElementById("thisPersonId").value = "";
	document.getElementById("firstName").value = "";
	document.getElementById("surname").value = "";
	document.getElementById("dateOfBirth").value = "";
	document.getElementById("phoneNumber").value = "";
	document.getElementById("emailAddress").value = "";
	document.getElementById("streetName1").value = "";
	document.getElementById("streetName2").value = "";
	document.getElementById("townOrCity").value = "";
	document.getElementById("county").value = "";
	
	$("#editThisPerson").finish().hide();
	$("#removeThisPerson").finish().hide();
	$("#mainEditorWindow").finish().hide();
	$("#noEditingSelected").finish().hide();
}
</SCRIPT>
{% endblock %}