<!--
	person Name:		Anthony Cox
	person ID:			C00162988
	Date:				14th April 2015
	Purpose:			This page contains the commonly used methods and JQuery for the Person Selection screens.
-->

{% extends "masterHeadingMenuFooterPage.html" %}

{% block common_jquery %}
<SCRIPT>
$(document).ready(function(){ 
	// Set the list of person names for the autocomplete feature of the search box
	$("#searchEntry").autocomplete({
				source: availablePersons,
				select: function(event, ui) {
					event.preventDefault();
					$(this).val(ui.item.label);
				}
	}).autocomplete("widget").addClass("searchList");
});

// Output the result of the search to the user
function processSearchResult(searchResultString) {
	// Replace all of the obsolete characters in the string
	searchResultString = replaceAll(searchResultString, "[", "");
	searchResultString = replaceAll(searchResultString, "]", "");
	searchResultString = replaceAll(searchResultString, "\"", "");
	
	// Split the result into an array of individual attributes and output them below the search bar
	var splitResult = searchResultString.split(",");
	var index = 0;
	var namesDisplay = "<BR><BR><TABLE CLASS = 'recordsDisplay'>";
	namesDisplay += "<TR><TD CLASS = 'recordsHeading'>";
	namesDisplay += "<DIV ALIGN = 'CENTER'><P CLASS = 'tableHeading'>Click a Timetable to View</P></DIV>";
	namesDisplay += "</TD></TR>";
	if(splitResult.length == 1 && splitResult[0] == "pageLoader") {
		namesDisplay += "<TR>";
		namesDisplay += "<TD CLASS = 'recordsHeading'>";
		namesDisplay += "<P>Please search for an existing name.<BR>Matching names will then appear here.</P>";
		namesDisplay += "</TD>";
		namesDisplay += "</TR>";
	} else if(splitResult.length == 1) {
		namesDisplay += "<TR>";
		namesDisplay += "<TD CLASS = 'recordsHeading'>";
		namesDisplay += "<DIV ALIGN = 'CENTER'>";
		namesDisplay += "<P>No names match your search criteria.<BR>Please try another name.</P>";
		namesDisplay += "</DIV>";
		namesDisplay += "</TD>";
		namesDisplay += "</TR>";
	} else {
		while(index < splitResult.length) {
			namesDisplay += "<TR>";
			namesDisplay += "<TD CLASS = 'recordsHeading'>";
			namesDisplay += "<DIV ALIGN = 'CENTER'>";
			namesDisplay += "<P CLASS = 'editableData'>" + splitResult[index + 2].trim() + ": " + splitResult[index + 3].trim() + " ";
			namesDisplay += splitResult[index + 4].trim() + "</P>";
			namesDisplay += "<INPUT TYPE = 'HIDDEN' ID = 'person" + index + "' NAME = 'person" + index + "' ";
			namesDisplay += "VALUE = '" + splitResult[index + 2].trim() + "'></INPUT>";
			namesDisplay += "</DIV>";
			namesDisplay += "</TD>";
			namesDisplay += "</TR>";
			index += 12;
		}
	}
	namesDisplay += "</TABLE><BR>";
	document.getElementById("searchResults").innerHTML = namesDisplay;
	initialiseEditableData();
}
</SCRIPT>
{% endblock %}

{% block common_javascript %}
<SCRIPT>
// Global Variables
var availablePersons = [];

// Replace all of the characters specified with their specified replacements in the provided string
function replaceAll(theString, theCharacter, theReplacement) {
	while(theString.indexOf(theCharacter) >= 0) {
		theString = theString.replace(theCharacter, theReplacement);
	}
	return theString;
}
</SCRIPT>
{% endblock %}