<!--

Select an existing group
	==>	A group can be viewed/edited and removed completely.
	==> A list of individual students for the group are listed and can be viewed/removed (but not edited).

Select a student
	==> Students can be added to a group just so long as they aren't part of this group already.
	==> Any potential timetable clashes if the student is added to this group should also be reported.

-->

{% extends "masterHeadingMenuFooterPage.html" %}

{% block main_body_content %}
	<DIV ALIGN = "CENTER">
		<H2>Manage Your Ensemble Groups</H2>
		<P>This feature has not been implemented yet. Coming soon!</P>
		<BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
	</DIV>
{% endblock %}