<!--
	Student Name:		Anthony Cox
	Student ID:			C00162988
	Date:				24th March 2015
	Purpose:			Display an error message to the user informing them of a problem during the registration process.
-->

{% extends "masterHeadingMenuFooterPage.html" %}

{% block common_javascript %}
<SCRIPT>
function returnToLoginPage() {
	window.location.replace("/")
}
</SCRIPT>
{% endblock %}

{% block main_body_content %}
	<DIV ALIGN = "CENTER">
		<H2>Error During Registration</H2>
		<P>
		We are sorry but it appears that there was a problem with your registration.<BR>
		Please return to the login page and retry registration again.<BR><BR>
		If this problem persists, please contact support and report the issue.
		</P>
		<BR>
		<INPUT TYPE = "BUTTON" ONCLICK = "returnToLoginPage()" VALUE = "Return to Login"></INPUT>
		<BR>
		<BR>
	</DIV>
{% endblock %}