<!--
	Student Name:		Anthony Cox
	Student ID:			C00162988
	Date:				11th March 2015
	Purpose:			This page allows the user to select a student of which they want to edit theirs timetable
-->

{% extends "masterHeadingMenuFooterPage.html" %}

{% block common_jquery %}
<SCRIPT>
$(document).ready(function(){
	// Set the list of student names for the autocomplete feature of the search box
	$("#searchEntry").autocomplete({
				source: availableStudents,
				select: function(event, ui) {
					event.preventDefault();
					$(this).val(ui.item.label);
				}
	}).autocomplete("widget").addClass("searchList");
});

// Initialise newly created DOM elements that populate the person editor window and show the editing options to the user
function updateUIAndSetSelectedStudent() {
	$(".editableData").click( function() {
		var element = $(this).next("input[type=hidden]");
		var elementValue = $(element).attr("VALUE");
		var individualAttr = elementValue.split(",");
		document.getElementById("selectedStudentId").value = individualAttr[0];
		setSelectedStudent();
	});
}

// Draw the default table on opening the page for the first time
function drawDefaultTable() {
	var defaultTableDisplay = "<BR><BR><TABLE CLASS = 'recordsDisplay'>";
	defaultTableDisplay += "<TR><TD CLASS = 'recordsHeading'>";
	defaultTableDisplay += "<DIV ALIGN = 'CENTER'><P CLASS = 'tableHeading'>Choose a Student Timetable to Edit</P></DIV>";
	defaultTableDisplay += "</TD></TR>";
	defaultTableDisplay += "<TR>";
	defaultTableDisplay += "<TD CLASS = 'recordsHeading'>";
	defaultTableDisplay += "<P>Please search for a student name.<BR>Matching names will then appear here.</P>";
	defaultTableDisplay += "</TD>";
	defaultTableDisplay += "</TR>";
	defaultTableDisplay += "</TABLE><BR>";
	document.getElementById("studentsList").innerHTML = defaultTableDisplay;
}

// Search for the selected student name
function searchForStudent() {
	$.ajax({ url: "/timetableStudentSearch", data: $('#searchForm').serialize(), type: 'POST', async: false, success: function(result) {
						result = replaceAll(result, "[", "");
						result = replaceAll(result, "]", "");
						result = replaceAll(result, "\"", "");
						
						var splitResult = result.split(",");
						var index = 0;
						var namesDisplay = "<BR><BR><TABLE CLASS = 'recordsDisplay'>";
						namesDisplay += "<TR><TD CLASS = 'recordsHeading'>";
						namesDisplay += "<DIV ALIGN = 'CENTER'><P CLASS = 'tableHeading'>Choose a Student Timetable to Edit</P></DIV>";
						namesDisplay += "</TD></TR>";
						if(splitResult.length == 1) {
							namesDisplay += "<TR>";
							namesDisplay += "<TD CLASS = 'recordsHeading'>";
							namesDisplay += "<DIV ALIGN = 'CENTER'>";
							namesDisplay += "<P><I>No students match your search criteria</I></P>";
							namesDisplay += "</DIV>";
							namesDisplay += "</TD>";
							namesDisplay += "</TR>";
						} else {
							while(index < splitResult.length) {
								namesDisplay += "<TR>";
								namesDisplay += "<TD CLASS = 'recordsHeading'>";
								namesDisplay += "<DIV ALIGN = 'CENTER'>";
								namesDisplay += "<P CLASS = 'editableData'>" + splitResult[index] + ": " + splitResult[index + 1].trim() + " "; 
								namesDisplay += splitResult[index + 2].trim() + "</P>";
								namesDisplay += "<INPUT TYPE = 'HIDDEN' ID = 'student" + index + "' NAME = 'student" + index + "' ";
								namesDisplay += "VALUE = '" + splitResult[index].trim() + "," + splitResult[index + 1].trim() + ","; 
								namesDisplay += splitResult[index + 2].trim() + "'></INPUT>";
								namesDisplay += "</DIV>";
								namesDisplay += "</TD>";
								namesDisplay += "</TR>";
								index += 3;
							}
						}
						namesDisplay += "</TABLE><BR>";
						document.getElementById("studentsList").innerHTML = namesDisplay;
						updateUIAndSetSelectedStudent();
					}});
}

// Retrieve the students timetable and output it to the "timetableEditor" DIV - swapping screens at the end to display this screen 
function setSelectedStudent() {
	$.ajax({ url: "/setSessionStudentId", data: $('#selectedStudentDetails').serialize(), type: 'POST', async: false, success: function(result) {
						if(result == "OK") {
							$("#loadingTimetable").finish().show();
							window.location.replace("/timetableEditor")
						} else {
							alert("There was an error with this student selection. Please try again later.");
						}
					}});
}
	
</SCRIPT>
{% endblock %}

{% block common_javascript %}
<SCRIPT>
// Global Variables
var availableStudents = [];

// Replace all of the characters specified with their specified replacements in the provided string
function replaceAll(theString, theCharacter, theReplacement) {
	while(theString.indexOf(theCharacter) >= 0) {
		theString = theString.replace(theCharacter, theReplacement);
	}
	return theString;
}
</SCRIPT>
{% endblock %}

{% block main_body_content %}
	<DIV ID = "selectStudentScreen" NAME = "selectStudentScreen" ALIGN = "CENTER">
		{% for index in range(0, list_of_students.__len__()): %}
		<SCRIPT>
			availableStudents.push({ value: "", label: "{{list_of_students[index].firstName}} {{list_of_students[index].surname}}" });
		</SCRIPT>
		{% endfor %}
		<H2>Manage a Student Timetable</H2>
		<P>Enter a student name in the search box below. To help you, suggested student
		<BR>names are provided as you type. When you have selected your student, click on the
		<BR>"Search" button to search for all students with that name. Finally, select the
		<BR>student from the table of student names in order to edit their timetable.</P>
		<BR>
		<FORM ID = "searchForm" NAME = "searchForm">
			<INPUT TYPE = "TEXT" ID = "searchEntry" NAME = "searchEntry" CLASS = "searchInput" AUTOFOCUS></INPUT>
			<INPUT TYPE = "BUTTON" CLASS = "editorButton2" ONCLICK = "searchForStudent();" VALUE = "&nbsp;&nbsp;Search&nbsp;&nbsp;"></INPUT>
		</FORM>
		<BR>
		<DIV ID = "studentsList" NAME = "studentsList"></DIV>
		<SCRIPT>
			drawDefaultTable("pageLoader");
		</SCRIPT>
		
		<FORM ID = "selectedStudentDetails" NAME = "selectedStudentDetails">
			<INPUT TYPE = "HIDDEN" ID = "selectedStudentId" NAME = "selectedStudentId"></INPUT>
		</FORM>
	</DIV>
{% endblock %}

{% block confirmation_windows %}
<DIV ID = "loadingTimetable" CLASS = "confirmationWindow" HIDDEN>
	<BR>Loading Student Timetable
	<BR>
	<BR>Please Wait
</DIV>
{% endblock %}